.icon-row {
    display: flex;
    justify-content: space-between;    
}

.icon-row li {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    text-align: center;
}

.icon-row i {
    padding-bottom: 15px;
}
